<ion-header [translucent]
="true">
<ion-toolbar>

   <div class="bg-color">
  <p>App App</p>
 </div>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]
="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><img src="../../assets/1download.jpg" alt=""></ion-col>
        <ion-col>Galaxy A53 5G<br>
          9,239.00บาท
        </ion-col>
        <ion-col>
          <ion-button>
            
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
